{% extends 'default.html' %}

{% block title %}
    About
{% endblock title %}

{% block content %}
    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/"><img class="icon" src="../static/image/home.svg" alt="dots icon"></a>
            <h2>About</h2>
            <a class="navbar-brand" href="/about/"><img class="icon" src="../static/image/question.svg" alt="dots icon"></a>
        </div>
    </nav>
    <p style="margin-top:75px">Soon...</p>
{% endblock content %}