{% extends 'default.html' %}

{% block title %}
    Cats
{% endblock title %}

{% block content %}
    <nav class="navbar fixed-top navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/"><img class="icon" src="static/image/home.svg" alt="dots icon"></a>
            <h2>CheatSheet</h2>
            <a class="navbar-brand" href="/about/"><img class="icon" src="static/image/question.svg" alt="dots icon"></a>
        </div>
    </nav>
    <div class="d-flex flex-row flex-wrap bd-highlight mb-3 justify-content-center" id='categories' style="margin-top:75px">
        {% for category in categories %}
            <div class="p-2 bd-highlight border border-1 lh-1 category" title="{{ category.category_priority }}" style="width: 250px; height:60px; font-size: 30px;">
                <div class="text-center"><a href="{% url 'tip' category.slug %}">{{ category.category }}</a></div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}